/******* Bootstrap Theming ********/

$primary: #FFC600;
$secondary: #23A036;
$light: #F5F5F5;
$dark: #0a1026;

$font-family-sans-serif: 'Poppins', sans-serif;

$body-color: #777777;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$border-radius: 5px;

@import "bootstrap/scss/bootstrap";


/********** Custom CSS ************/
h1,
.font-weight-bolder {
    font-weight: 800 !important;
}

h2,
h3,
.font-weight-bold {
    font-weight: 700 !important;
}

h5,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 100px;
}

.form-control {
    border-radius: 30px;
}

.btn-social {
    width: 45px;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius:45px;
}

.icon-box {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
}

.section-title {
    position: relative;
    padding-left: 60px;
}

.section-title::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 45px;
    height: 2px;
    background: $primary;
}

.section-title::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 45px;
    height: 2px;
    background: $secondary;
}

.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: $dark;
    font-size: 17px;
    font-weight: 600;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $secondary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 5px 0;
    }
}

.carousel-item {
    max-height: 600px;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-indicators {
    width: 60px;
    top: 0;
    right: calc(100% - 60px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $primary;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: $secondary;
}

@media (max-width: 991.98px) {
    .carousel-indicators {
        width: 45px;
        right: calc(100% - 45px);
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 575.98px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 400;
    }

    .carousel-caption h1 {
        font-size: 25px;
        font-weight: 500 !important;
    }

    .carousel-caption .btn {
        font-weight: 400;
        padding: 5px 12px !important;
    }
}

@media (min-width: 992px) {
    .contact-info .contact-info-item {
        min-height: 200px;
    }
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: $secondary;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: $secondary;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: $secondary;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid $primary;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

.bg-about {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/about.jpg), no-repeat center center;
    background-size: cover;
}

.bg-service {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-1.jpg), no-repeat center center;
    background-size: cover;
}

.bg-portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-2.jpg), no-repeat center center;
    background-size: cover;
}

.bg-testimonial {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-3.jpg), no-repeat center center;
    background-size: cover;
}

.owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 0;
    margin-top: -20px;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary;
    background: $primary;
    border-radius: 40px;
    font-size: 22px;
    opacity: .1;
    transition: .3s;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.portfolio-item .portfolio-img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.portfolio-item:hover .portfolio-img {
    top: 100%;
}

.portfolio-item .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.portfolio-item:hover .portfolio-text {
    top: 0;
}

.team .team-img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team:hover .team-img {
    left: 75px;
}

.team .team-social {
    position: absolute;
    width: 75px;
    top: 0;
    bottom: 0;
    left: -75px;
    z-index: 1;
    transition: .5s;
}

.team:hover .team-social {
    left: 0;
}

.testimonial-carousel .owl-item img {
    width: 75px;
    height: 75px;
    border-radius: 75px;
}

.testimonial-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
    background: $primary;
}

.blog-date {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 5px 0 0;
    background: $primary;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}